# Ignore Python virtual environments
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local environment files
.env
*.env

# Ignore cache, logs, and unnecessary files
*.log
*.sqlite3
db.sqlite3
*.db

# Ignore Docker and Git files
.dockerignore
Dockerfile
.git
.gitignore
